B2_ENDPOINT=https://s3.ca-east-006.backblazeb2.com
B2_BUCKET=flavi-public-chat-assets
B2_KEY_ID=your_key_id
B2_APP_KEY=your_app_key
B2_REGION=ca-east-006
CDN_BASE_URL=https://cdn-chat.flavi.dev
UPLOAD_API_KEY=your_upload_api_key_here
PORT=3025
